/*css*/
@import "./reset.css";
@import "./base.css";
@import "./layout.css";
@import "./skeleton.css";

html, body, h1, h2, h3, a, p {
    font-family: Shift,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
body{
    color: #555;
    background: #111 url("../images/bg-header.jpg") top center no-repeat;
}
header {
    height: 450px;
}
header .htop_line {
    background: #111;
    opacity: 0.65;
    filter:alpha(opacity=65);
    height: 75px;
}
header a {
    font-size: 26px ;
    color: #b7b7b9;
    margin: 25px;
    text-decoration: none;
    float: right;
}
header a:hover {
    color: #ababad;
}
.menu {
    background: #020301;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0px;
}
.menu li {
    float: left;
    padding: 15px 35px;
    margin-bottom: 0px;
    border-right: 1px dashed #111;
}
.menu li a {
    color: #949494;
    font-size: 18px;
    text-decoration: none;
}
.menu li a:hover {
    color: #ababad;
    font-size: 18px;
    text-decoration: underline;
}
.content {
    min-height: 400px;
    background-color: #ccc;
    border-radius: 0 0 15px 15px;
    padding-top: 20px;
    padding-bottom: 35px;
}
.box {
    background-color: #f1f1f1;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.22);
    margin: 20px;
    border-radius: 3px;
    padding: 8px 25px;
}
#services {
    min-height: 500px;
    margin-top: 0px;
}
.yp {
    background: url('../images/yellow-point.png') center no-repeat;
    padding: 20px;
}
#services img {
    border: 3px solid white;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.22);
}
#gallery {
    min-height: 200px;
}
#gallery a img {
    border: 3px solid white;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.22);
}
#contacts {
    min-height: 500px;
}
.bold {
    font-weight: bold;
}
.ml {
    margin-left: 20px;
}
.ya-map {
    width: 473px;
    height: 400px;
    border: 3px solid white;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.22);
}

footer {
    margin-top: 30px;
}


/*=========================RESPONSIVE LAYOUTS===========================*/

@media only screen and (max-width: 959px) {
    header .htop_line {
        background: #111;
        border-radius: 0 0 15px 15px;
        opacity: 0.65;
        filter:alpha(opacity=65);
        height: 75px;
    }
    #contacts {
        min-height: 900px;
    }
    #services ul {
        width: 400px;
    }
    #services img {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .ya-map {
        width: 325px;
        height: 400px;
        border: 3px solid white;
        border-radius: 3px;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.22);
    }
}